.goal {
    background-image: url(../../../assets/goal/bgGoal.png);
    background-repeat: no-repeat;
    background-color: #efefef;
}

.bg {
    position: relative;
    z-index: 50;
}

.one::backdrop {
    background-image: url(../../../assets/goal/line.png);

}

.bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    /* Adjust to your needs */
    z-index: 100;
    /* Higher than other elements in .vision */
    pointer-events: none;
    /* Ensures that the pseudo-element doesn't interfere with user interaction */
}

.vision::before {
    background-image: url(../../../assets/goal/Vector3.png);
}

.values::before {
    background-image: url(../../../assets/goal/Vector2.png);
}

.mission::before {
    background-image: url(../../../assets/goal/Vector1.png);
}